#loading-error {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
  font-size: 2.4em;
  font-family: sans-serif;
  font-weight: lighter;
  color: #545454;
  visibility: hidden;
}

#content-wrapper {
  width: 70%;
  margin: auto;
  color: #545454;
  font-family: sans-serif;
}

#page-header {
  width: 100%;
  text-align: center;
  font-size: 2.2em;
  font-weight: lighter;
}

#broadcasts-data-table {
  display: none;
  width: 100%;
  margin: 5% auto 5% auto;
  text-align: center;
  font-size: 1em;
  border-collapse: collapse;
}

#broadcasts-data-table thead tr {
  background-color: #DCDEEF;
}

#broadcasts-data-table tr td, th {
  padding-top: 1%;
  padding-bottom: 1%;
}

#broadcasts-data-table tr.even {
  background-color: #F5F5F5;
}

#broadcasts-data-table tr.odd {
  background-color: #EAECFF;
}

#broadcasts-data-table tfoot td{
  text-align: left;
  padding-top: 2%;
  color: #848484;
}

#broadcasts-data-table th:hover {
  cursor: pointer;
}

#broadcasts-data-table th[data-sort=asc]::after {
  content: "↑";
}

#broadcasts-data-table th[data-sort=desc]::after {
  content: "↓";
}

#broadcasts-data-table tr.selected {
  border: 1px solid #0000FF;
}

#chart-wrapper {
  display: none;
  margin-bottom: 5%;
}

#chart-title {
  text-align: center;
  font-weight: lighter;
}
